@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&family=Poppins:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(imgs/registerBackGround.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    color: #ffffff;
    padding: 30px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    text-align: center;
}


.container h1 {
    font-size: 28px;
    margin-bottom: 15px;
}


.campos {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.campos input {
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 0 15px;
    transition: 0.3s ease-in-out;
}

.campos input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.campos input:focus {
    border-color: #000000;
}


.termos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.termos a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.termos a:hover {
    text-decoration: underline;
    color: #ffd000;
}

.termos label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.termos label input {
    accent-color: #ffd000;
    width: 16px;
    height: 16px;
}

.cadastro {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.4s ease-in-out;
}

.cadastro:hover {
    background-color: transparent;
    border: 2px solid #7b7b7b;
    color: #ffffff;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 25px;
    }
}
